POSTGRES_DB=pulse
POSTGRES_USER=pulse
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432
BACKEND_PORT=8080
FRONTEND_PORT=3000
PULSE_METRICS_ENABLED=true
PULSE_METRICS_INTERVAL_MS=5000
PULSE_METRICS_DEFAULT_LIMIT=100
PULSE_METRICS_MAX_LIMIT=500
PULSE_ALERTS_DEFAULT_LIMIT=100
PULSE_ALERTS_MAX_LIMIT=500
PULSE_HEALTH_ENABLED=true
PULSE_HEALTH_INTERVAL_MS=30000
PULSE_HEALTH_TIMEOUT_MS=3000
PULSE_HEALTH_DEFAULT_LIMIT=100
PULSE_HEALTH_MAX_LIMIT=500
PULSE_INCIDENTS_DEFAULT_LIMIT=100
PULSE_INCIDENTS_MAX_LIMIT=500
PULSE_TELEGRAM_ENABLED=false
PULSE_TELEGRAM_BOT_TOKEN=8909353880:AAFhpFGEZjyCp9hln3UeoKfiXZcjn36a1eA
PULSE_TELEGRAM_CHAT_ID=8662275513
PULSE_TELEGRAM_API_BASE_URL=https://api.telegram.org
PULSE_TELEGRAM_TIMEOUT_MS=5000
